

.container{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 200px 400px 200px 450px;
  padding: 30px;
  border-radius: 3px;
}

input{
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 5px;
}

button{
  border-radius: 3px;
  border: 1px solid black;
  background: none;
  width: 100px;
  margin-left: 100px;
  margin-top: 10px;
}

