html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
  /* height: 100%; */
  box-sizing: border-box;
  background: url('./listening.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.app::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.app>* {
  position: relative;
  z-index: 2;
}